src/main/resources/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        name="Service"
        targetNamespace="http://idat.pe/Service/wsdl"
        xmlns:tns="http://idat.pe/Service/wsdl"
        xmlns:ns1="http://idat.pe/Service/schema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema targetNamespace="http://idat.pe/Service/wsdl" >
      <xsd:import namespace="http://idat.pe/Service/schema" schemaLocation="Service.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetPersonaRequest">
    <wsdl:part element="ns1:GetPersonaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetPersonaResponse">
    <wsdl:part element="ns1:GetPersonaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddPersonRequest">
    <wsdl:part element="ns1:AddPersonRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddPersonResponse">
    <wsdl:part element="ns1:AddPersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonRequest">
    <wsdl:part element="ns1:UpdatePersonRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonResponse">
    <wsdl:part element="ns1:UpdatePersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeletePersonRequest">
    <wsdl:part element="ns1:DeletePersonRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeletePersonResponse">
    <wsdl:part element="ns1:DeletePersonResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="SoapServicePort">
    <wsdl:operation name="GetPersona">
      <wsdl:input message="tns:GetPersonaRequest"/>
      <wsdl:output message="tns:GetPersonaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input message="tns:AddPersonRequest"/>
      <wsdl:output message="tns:AddPersonResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input message="tns:UpdatePersonRequest"/>
      <wsdl:output message="tns:UpdatePersonResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input message="tns:DeletePersonRequest"/>
      <wsdl:output message="tns:DeletePersonResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ServiceSOAPBinding" type="tns:SoapServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPersona">
      <soap:operation soapAction="http://idat.pe/Service/GetPersona"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://idat.pe/Service/AddPerson"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://idat.pe/Service/UpdatePerson"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://idat.pe/Service/DeletePerson"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Service">
    <wsdl:port binding="tns:ServiceSOAPBinding" name="ServiceSOAPBinding">
      <soap:address location="http://localhost:8080/services/soap/Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>